<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>Origin</span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                SLC
              </a>
              <a href="#" class="dropdown-item">
                SLC
              </a>
              <a href="#" class="dropdown-item">
                SLC
              </a>
            </div>
          </div>
          
        </div>
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>Destination</span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                SLC
              </a>
              <a href="#" class="dropdown-item">
                SLC
              </a>
              <a href="#" class="dropdown-item">
                SLC
              </a>
            </div>
          </div>
          
        </div>
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span># of Passengers:</span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <% %>
              <a href="#" class="dropdown-item">
                SLC
              </a>
              <a href="#" class="dropdown-item">
                SLC
              </a>
              <a href="#" class="dropdown-item">
                SLC
              </a>
            </div>
          </div>
          
        </div>
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>Date:</span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                SLC
              </a>
              <a href="#" class="dropdown-item">
                SLC
              </a>
              <a href="#" class="dropdown-item">
                SLC
              </a>
            </div>
          </div>
          
        </div>    
      </div>
     </div>   
  </div>
</div>
